# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
/dist
.env
.env.local

# 如果你還是堅持用本機 MP4 檔案，且檔案很大（大於 50MB），請把影片資料夾也忽略：
/public/videos/

.env
.env.local
.env.*.local
!.env.example

